colorlog==6.9.0
crewai==0.121.1
fastapi==0.115.12
uvicorn[standard]>=0.30.0
langchain==0.3.25
langchain_anthropic==0.3.14
langchain_community==0.3.24
langchain_core==0.3.74
langchain_google_genai==2.1.5
langchain_openai==0.3.18
langchain_tavily==0.2.0
langchain_text_splitters==0.3.8
langgraph==0.6.4
langgraph-prebuilt==0.6.4
Markdown==3.8
moviepy==1.0.3
numpy==2.2.6
pandas==2.2.3
pydantic==2.11.5
python-dotenv==1.1.0
pytube==15.0.0
reportlab==4.4.1
requests==2.32.3
langsmith==0.3.45
streamlit==1.44.1
nicegui>=2.5.0
supabase==2.15.2
youtube_transcript_api==1.0.3
yt_dlp==2025.5.22
faiss-cpu==1.10.0
aiohttp
langdetect==1.0.9
groq
httpx==0.27.2
pydub
pysubs2
ffmpeg-python
streamlit-cookies-manager
openai>=1.30.0
rich>=13.7.0
certifi>=2024.2.2
